<div class="card">
  <div class="card-header">
     {{pageTitle}}
  </div>

  <div class="card-body container" >

    <div class="row">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">Name:</div>
          <div class="col-md-6"> {{movieDetail.Title}} </div>
        </div>
        <div class="row">
          <div class="col-md-3">Release Date:</div>
          <div class="col-md-6">{{movieDetail.Year}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Type:</div>
          <div class="col-md-6">{{movieDetail.Type}}</div>
        </div>
        
        <div class="row">
          <div class="col-md-3">IMDB ID:</div>
          <div class="col-md-6">{{movieDetail.imdbID}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"> Actors</div>
          <div class="col-md-6">{{movieDetail.Actors}}</div>
        </div>
      

      <!-- <div class="col-md-4"
           *ngIf="movie.imageUrl">
        <img class="center-block img-responsive"
             [style.height.px]="150"
             [style.margin.px]="2"
             [src]="movie.imageUrl"
             [title]="movie.movieName">
      </div> -->
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                [routerLink]="['/main']"
                queryParamsHandling="preserve">
          <i class="fa fa-chevron-left"></i> Back
        </button>
       
      </div>
    </div>

  </div>
</div>
</div>
