<div class="card container" style="border-color: rgb(2, 146, 248)">
    <div class="bg-primary" style="color:white;font-weight:bold;">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div>
<button  class="btn btn-primary" style="margin-left: 90%"  [routerLink]="[ '/login']">login</button>

      </div>
      <div class="container-fluid">
        <div class="text-center">
          <img  src="./assets/Main.jpg"
               class="img-responsive center-block"
               style="max-height:500px;padding-bottom:20px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Sufian Khan</h3>
        </div>
  
        <div class="text-center">Instagram:</div>
        <div class="text-center">
            <a href="https://www.instagram.com/?hl=en">@_sufiankhan</a></div>
        <div class="text-center">Email:</div>
        <div class="text-center">
          <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1#">sufian.khan.msk@gmail.com</a>
        </div>
      </div>
    </div>
  </div>